.product-list {
    display: flex;
    padding: 0 60px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    font-stretch: expanded;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 80px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;

  }
  
  .product-item {
    border: 1px solid#431568; 
    padding: 5px;
    margin: 50px;
    width: 300px;
    height: 300px;
    text-align: left;

  }
  
  .product-item img {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    -ms-zoom: 70%;
  }